.footerWrapper {
    padding: 2.9375rem 0 0 0;
    background: linear-gradient(180deg, #B9C3A4 0%, rgba(92, 183, 166, 0) 100%);
    text-align: center;
    justify-content: center;
    .btmSpc {
        margin-bottom: 4rem;
    }
}