@import '../../../../../variable.scss';
.socialLinks {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.3125rem;
    margin: 3.125rem .9375rem 0 0;
    position: relative;
    &.footer {
        justify-content: center;
    }
    .link {
        cursor: pointer;
        transition: 0.3s;
        >svg {
            width: 26px;
            height: 26px;
            opacity: 0.7;
            path {
                fill: grey;
            }
        }
        &:hover {
            >svg {
                opacity: 1;
                path {
                    fill: black;
                    transition: 0.3s
                }
            }
        }
    }
    .detail {
        @extend %regularText;
        position: absolute;
        right: 12rem;
    }
    .linksContainer {
        display: flex;
        column-gap: 1.25rem;
        max-width: 200px;
        position: relative;
    }
}