@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import '../../../../variable.scss';
.headerContainer {
    display: flex;
    padding: 1rem 4rem 10px 4rem;
    justify-content: space-between;
    font-family: 'Nanum Gothic', sans-serif;
    align-items: center;
    @media screen and (max-width:$breakpoint-ms) {
        display: grid;
    }
    .leftSection {
        display: flex;
        align-items: center;
        .logo {
            width: 2.875rem;
            height: 2.875rem;
            transform: rotateY(180deg);
        }
        .header {
            margin-left: .625rem;
            font-weight: 800;
            letter-spacing: -0.0313rem;
            font-size: 1.125rem;
            cursor: pointer;
        }
    }
    .rightSection {
        display: flex;
        column-gap: 20px;
        .link {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: -0.0313rem;
            cursor: pointer;
        }
    }
}