@import '../../variable.scss';
.dashboardContent {
    min-height: 30rem;
    padding-left: 3rem;
    padding-right: 10%;
    margin-bottom: 10rem;
    @media screen and (max-width:1300px) {
        padding-right: 3%;
    }
    @media screen and (max-width:1019px) {
        padding-left: 2rem;
    }
    @media screen and (max-width:767px) {
        padding-left: 1rem;
    }
    .leftSection {
        max-width: 5.125rem;
        margin-top: 5.125rem;
        position: absolute;
        .category {
            @extend %largeboldText;
            transform: rotateZ(90deg);
            @media screen and (max-width:480px) {
                display: none;
            }
            @media screen and (max-width:1019px) {
                font-size: 2.1875rem;
                letter-spacing: -0.125rem;
            }
        }
    }
}