@import '../../../../variable.scss';
.aboutMeWrapper {
    background-image: url('../../../../static/temple-op-40.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .aboutMeContent {
        margin: 100px 0 0 4rem;
        position: absolute;
        .aboutText {
            @extend %textSize26;
            @extend %bold-600;
        }
        .descriptionBox {
            margin-top: 1.25rem;
            padding: 2.125rem 1.5625rem 1.25rem 2.3125rem;
            background: rgba(255, 255, 255, 0.5);
            max-width: 38.125rem;
            border-left: 1px solid green;
            .description {
                display: flex;
                .profileImage {
                    width: 8.1875rem;
                    height: 8.1875rem;
                    border-radius: 50%;
                }
                .descriptiontext {
                    margin: .375rem 0 0 1.4375rem;
                    @extend %regularText;
                    line-height: 30.6px;
                }
            }
            .socialLinks {
                display: flex;
                justify-content: flex-end;
                column-gap: 1.3125rem;
                margin: 3.125rem .9375rem 0 0;
                .link {
                    cursor: pointer;
                }
                .detail {
                    @extend %regularText;
                }
            }
        }
    }
}
.boxCanvas {
    position: absolute;
    // right: 10%;
    width: 100%;
    height: 100%;
    // z-index: -1;
}